.DS_Store
playground.py
.vscode/
PhD\ Notes.gdoc
ANN/
Annual\ Progress\ Reports/
Charts,\ Tables,\ Forms,\ Flowcharts/
EMME/
Field\ Experiments/
Literature/
MOVES/
Presentations/
Proposal/
Surveys/
SVR/
Weekly\ Research\ Reports/
Old\ Python\ Codes/
3DATX/